.lletra{
    font-size: 16px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.lletra2{
    font-size: 12px;
    font-style: oblique;
    font-family: fantasy;
}
.imatge{
    left: 50px;
    height: 200px;
    width: 200px;
}
.cuadro{
    height: 200px;
    width: 200px;
}